/* header */
.header {
    display: flex;
    height: 50px;
    background-color: #bbb;
}

.header .logo {
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo img {
    height: 80%;
    width: 80%;
}

.header .text {
    margin: 6px 0;
    display: flex;
    align-items: center;
}

.header .text p {
    color: #000;
}

.header .btn-list {
    width: 100%;
    margin: 6px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header .btn-list button {
    margin-right: 6px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #bbb;
}



/* main */
.content {
    background-color: #ececec;
}

/* red */
.red .flag {
    background-color: #f00;
    height: 70px;
    width: 100%;
}

.red .input-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red .input-text input {
    background-color: #f00;
    border: 2px solid #cc0000;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.red .input-text input:hover {
    outline: 2px solid #fff;
    border-radius: 3px;
}

/* red score */
.red .score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red .score p {
    margin: 5px;
    color: #000;
    font-size: 30px;
}

.red .score-btn {
    display: flex;
    justify-content: center;
}

.red .score-btn button {
    margin: 0 5px;
}

/* red foul */
.red .foul {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.red .foul-num {
    display: flex;
    justify-content: center;
}

.red .foul-num p {
    color: #000;
}

.red .foul p {
    color: #000;
}

.red .foul-btn {
    display: flex;
    justify-content: center;
}

.red .foul-btn button {
    margin: 0 5px 5px 5px;
}

/* middle */
.middle {
    padding: 20px 0;
}

/* middle clock */
.clock-div{
    display: flex;
    justify-content: center;
}
.clock-div > div{
    margin: 0 10px;
}
.clock-div > div > input{
    width: 60px;
    font-size: 30px;
    text-align: center;
}
.clock-div > div > div{
    display: flex;
    justify-content: center;
}

/* middle time btn list */
.middle .time-btn-list {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.middle .time-btn-list button {
    margin: 0 5px;
}

/* middle round */
.middle .round {
    display: flex;
    justify-content: center;
}

.middle .round p {
    color: #000;
}

/* middle round-num */
.middle .round-num {
    display: flex;
    justify-content: center;
}

.middle .round-num p {
    color: #000;
}

/* middle round-btn-list */
.middle .round-btn-list {
    display: flex;
    justify-content: center;
}

.middle .round-btn-list button {
    margin: 0 5px;
}

/* blue */
/* blue flag */
.blue .flag {
    background-color: #00f;
    height: 70px;
    width: 100%;
}

.blue .input-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue .input-text input {
    background-color: #00f;
    border: 2px solid #0000cc;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.blue .input-text input:hover {
    outline: 2px solid #fff;
    border-radius: 3px;
}

/* blue score */
.blue .score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue .score p {
    margin: 5px;
    color: #000;
    font-size: 30px;
}

/* blue score btn */
.blue .score-btn {
    display: flex;
    justify-content: center;
}

.blue .score-btn button {
    margin: 0 5px;
}

/* blue foul */
.blue .foul {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.blue .foul p {
    color: #000;
}

/* blue foul num */
.blue .foul-num {
    display: flex;
    justify-content: center;
}

.blue .foul-num p {
    color: #000;
}

/* blue foul btn */
.blue .foul-btn {
    display: flex;
    justify-content: center;
}

.blue .foul-btn button {
    margin: 0 5px 5px 5px;
}

/* footer */
.footer {
    background-color: #bbb;
    padding: 20px 0 20px 0;
}

.footer .contact {
    display: flex;
    justify-content: center;
}

.footer .contact p {
    font-size: 16px;
    color: #000;
    margin-right: 10px;
}

.footer .contact a {
    margin: 0 5px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
}

.footer .copyright p {
    color: #000;
}